<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<title>会員情報</title>

<head>
    <link href="../../css/userinfo.css" rel="stylesheet" />
    <script src=""></script>
    <meta th:name="_csrf" th:content="${_csrf.token}"/>
	<meta th:name="_csrf_header" th:content="${_csrf.headerName}"/>
</head>

<body>
    <h2 style="text-align: center;">会員情報</h2>
    <input type="hidden" th:value="${userinfo.role}" readonly="true"/>
    <form action="">
        <div id="wrapper" >
            <table class="table">
                <tr>
                    <td class="cardNo">カード番号</td>
                    <td><input type="text" th:value="${userinfo.cardNo}"  readonly="true" id="cardNo"></td>
                </tr>
                <tr>
                    <td class="id">ID</td>
                    <td><input type="text" th:value="${userinfo.id}" readonly="true" id="id"></td>
                </tr>
                <tr>
                    <td class="pwd">パスワード</td>
                    <td><input type="password" value="" readonly="true" id="pwd"></td>
                </tr>
                <tr>
                    <td class="pwdck">パスワード再確認</td>
                    <td><input type="password" value="" readonly="true" id="pwdck"></td>
                </tr>
                <tr>
                    <td class="name">名前</td>
                    <td><input type="text" th:value="${userinfo.name}" readonly="true" id="name"></td>
                </tr>
                <tr>
                    <td class="phone">電話番号</td>
                    <td><input type="text" th:value="${userinfo.phone}" readonly="true" id="phone"></td>
                </tr>
                <tr>
                    <td class="address">住所</td>
                    <td><input type="text" th:value="${userinfo.addr}" readonly="true" id="addr"></td>
                </tr>
                <tr>
                    <td class="gender">性別</td>
                    <td><input type="text" th:value="${userinfo.gender}" readonly="true" id="sex"></td>
                </tr>
                <tr>
                    <td class="startTime">入館時間</td>
                    <td><input type="text" th:value="${userinfo.startTime}" readonly="true" id="stime"></td>
                </tr>
                <tr>
                    <td class="endTime">退館時間</td>
                    <td><input type="text" th:value="${userinfo.endTime}"  readonly="true" id="etime"></td>
                </tr>
                <tr>
                    <td class="updateButton" colspan="2"><button type="button" th:if="${userinfo.role == 2}" id="Button" onclick="updateMode()">修正</button></td>
                </tr>
            </table>
        </div>
    </form>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script th:inline="javascript">
let mode = false;

//const button1 = document.getElementByClass("updateButton");
function updateMode () {
	let token = $("meta[name='_csrf']").attr("content");
    let header = $("meta[name='_csrf_header']").attr("content");
    $(document).ajaxSend(function(e, xhr, options) {
      xhr.setRequestHeader(header, token);
    });

	if(mode===false){
		mode = true;
		$(".updateButton").html('<button type="button" th:if="${userinfo.role == 2}" id="Button" onclick="updateMode()">修正!!</button>');
		$('#pwd').prop('readonly', false);
		$('#pwdck').prop('readonly', false);
		$('#name').prop('readonly', false);
		$('#phone').prop('readonly', false);
		$('#addr').prop('readonly', false);

	}
	else{
		if(window.confirm("go?")){
			const userCardNo = /*[[${userinfo.cardNo}]]*/;
			const userName = document.getElementById("name").value;
			const userPhone = document.getElementById("phone").value;
			const userAddr = document.getElementById("addr").value;
			const userPwd = document.getElementById("pwd").value;
			const userPwdck = document.getElementById("pwdck").value;
			const updateInfo = {
				"cardNo" : userCardNo,
				"name" : userName,
				"phone" : userPhone,
				"addr" : userAddr
			};

			$.ajax({
				type : "post",
				url : "/update",
				data : JSON.stringify(updateInfo),
				contentType : "application/json; charset:UTF-8",
				//dataType : "json",

				})
				.done(function(){

				})
				.fail(function(){

				});

			if(userPwd!=false){
				if(userPwd==userPwdck){
					const pwdData = {
							"pwd" : userPwd,
							"cardNo" : userCardNo
					};

					$.ajax({
						type : "post",
						url : "/updatePwd",
						data : JSON.stringify(pwdData),
						contentType : "application/json; charset:UTF-8",
						success : function(resp){
							console.log(resp);
						},
						error : function(request, error, status){
							console.log(request);
							console.log(error);
							console.log(status);
							return;
						}
					});
				}
				else{
					alert("pwd error");
				}
			}

		}


		mode = false;
		$(".updateButton").html('<button type="button" th:if="${userinfo.role == 2}" id="Button" onclick="updateMode()">修正</button>');
		$('#pwd').prop('readonly', true);
		$('#pwdck').prop('readonly', true);
		$('#name').prop('readonly', true);
		$('#phone').prop('readonly', true);
		$('#addr').prop('readonly', true);

	}
}
</script>
</html>