<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>ログイン</title>
  <link href="/css/login.css" rel="stylesheet" />
<!--   <script src="login.js"></script> -->
</head>


<body>
</br>
</br>
<h2 class="gymTitle">
スポーツジムへようこそ！
</h2>
<div class="login">
  <div class="login-triangle"></div>
  
  <h2 class="login-header">Log in</h2>

  <form class="login-container" id="login" th:action="@{/loginProc}" method="post" onsubmit="return ck(this);">
<div align="center">

<!-- <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}" /> -->
<!--   <label>
    <input type="radio" name="role" value="notAdmin" checked/>
    <span>会員</span>
    </label>

<label>
<input type="radio" name="role" value="admin" />
<span>管理者</span>
</label>
 -->

</div>
    <p><input type="id" id="id" name="username" placeholder="ID"></p>
    <div id="idError" class="error"></div>
    <p><input type="password" id="pwd" name="password" placeholder="Password"></p>
    <div id="passwordError" class="error"></div>
    
<p><button>Log in</button></p>
<p><a href="/newuser">Sign in</a></p>
  </form>
</div>

<script>

  
  function ck(){
  
  let id = document.getElementById("id").value;
  let password = document.getElementById("pwd").value;
  let check = true;
  
  
  
  if (password === "") {
    document.getElementById("passwordError").innerHTML = "暗証番号を入力してください";
      check = false;
  } else {
    document.getElementById("passwordError").innerHTML = "";
  }
  
  if (id === "") {
    document.getElementById("idError").innerHTML = "IDを入力してください";
      check = false;
  } else {
    document.getElementById("idError").innerHTML = "";
  }
  
  return check;
  
  }
  
  function getParameterByName( name ){
	  name = name.replace(/[\[]/,"\\\[").replace(/[\]]/,"\\\]");
	  var regexS = "[\\?&]"+name+"=([^&#]*)";
	  var regex = new RegExp( regexS );
	  var results = regex.exec( window.location.href );
	  if( results == null )
	    return "";
	  else
	    return decodeURIComponent(results[1].replace(/\+/g, " "));
	}
  
  window.onload = function() {
	  const error = getParameterByName('error');
	  console.log(error);
	    if(error == '1'){
	    	alert("IDかパスワードを確認してください。");
	    }
	}

</script>


</body>


</html>



