<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>会員リスト</title>
<link href="../../css/list.css" rel="stylesheet" />
</head>


<body>
</br>
<h2 align="center">会員リスト</h2>
<p>
<div class="searchForm" style="float:right;">
<form method="get" action="/list/search" class="search_container">
  <input type="text" size="25" name="search" placeholder="名前検索">
  <input type="submit" value="Search">
</form>
</div>
</p>

</br>
<table>
<tr>
<th class="cardNo">カード番号</th>
<th class="name">お名前</th>
<th class="gender">性別</th>
<th class="phone">電話番号</th>
</tr>

<tr th:each="user : ${userList}">
		<td th:text="${user.cardNo}"></td>
		<td th:text="${user.name}" th:href="@{#}"></td>
		<td th:text="${user.gender}"></td>
		<td th:text="${user.phone}"></td>
</tr>


</table>
</br>
<div style="text-align: center;">
<th:block th:if="${searched}" th:each="i : ${#numbers.sequence(pag.startPage, pag.endPage)}">
	<a th:href="@{/list/search(search=${searchWord},page=${i},range=${pag.range})}" th:text="${i}"/>
</th:block>

<th:block th:if="${listed}" th:each="i2 : ${#numbers.sequence(pag.startPage, pag.endPage)}">
	<a th:href="@{/list/list(page=${i2},range=${pag.range})}" th:text="${i2}"/>
</th:block>



</div>

</body>

</html>