html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 45%;
    border: 1px solid black;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

button {
    cursor: pointer;
    height: 30px;
}

.wrapper {
    padding: 10px;
}

table {
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

table th,table td{
    text-align: center;
    
    padding: 10px 0;
  }

h2 {
    text-align: center;
}

#Button {
    cursor: pointer;
    height: 30px;
    width: 100%;
}

input {
    width:80%;
}