* {
    margin: 0px;
    box-sizing: border-box;
    font-size: 11px;
}

html {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    width: 45%;
    border: 1px solid black;
}

input {
    border: 1px solid black;
    border-radius: 3px;
    line-height: 35px;
    font-size: 12px;
    padding-left: 10px;
    padding-right: 10px;
}


.wrapper {
    padding: 10px;
}

div {
    padding-top: 3px;
    padding-bottom: 8px;
}

.title {
    text-align: center;
    font-weight: 700;
}

.id input {
    width: 100%;
}

.name input {
    width: 100%;
}

.password input {
    width: 100%;
}

.passwordCheck input {
    width: 100%;
}

.phone input{
    width: 100%;
}

.area input{
    width: 100%;
}

.gender {
    text-align: center;
}

.signUp input[type="submit"]:hover {
    background: #17c;
  }

.signIn input[type="submit"] {
    cursor: pointer;
    box-sizing: border-box;
    display: block;
     width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 16px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
    background: #28d;
    border-color: transparent;
    color: #fff;
}

.error {
    font-size: 1px;
    height: 20px;
    color: red;
    font-weight: 700;
}